/*----
.gallery{
   
    background-image: url("../image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 992px;
    height: 680px;
    position: relative;
    text-align: center;
    margin: auto;
}
.gallery .img1{
  
    height: 265px;
    width: 337px;
    position: absolute;
    z-index: 9;
    bottom: 231px;
    left: 319px;
}
.gallery .img2{

    height: 135px;
    width: 175px;
    position: absolute;
    z-index: 96;

    left: 508px;
    top: 32px;
}
.gallery .img3{
  
    height: 145px;
    width: 127px;
    position: absolute;
    z-index: 966;
    top: 21px;
    left: 346px;
}
.gallery .img4{
 
    height: 131px;
    width: 172px;
    position: absolute;
    z-index: 988;
    top: 99px;
    left: 145px;
}
.gallery .img5{

    height: 131px;
    width: 283px;
    position: absolute;
    z-index: 9888;
    top: 266px;
    left: 31px;
}
.gallery .img6{
  
        height: 144px;
        width: 203px;
        position: absolute;
        z-index: 9999;
        top: 435px;
        left: 224px;
}
.gallery .img7{

    height: 127px;
    width: 170px;
    position: absolute;
    z-index: 99999;
    top: 436px;
    left: 454px;
}
.gallery .img8{

    height: 181px;
    width: 141px;
    position: absolute;
    z-index: 999999;
    top: 300px;
    top: 184px;
    left: 660px;
}
.gallery .img9{
   
    height: 149px;
    width: 212px;
    position: absolute;
    z-index: 9999999;
    top: 500px left;
    left: 670px;
    top: 384px;
}
.gallery .img10{
  
    height: 173px;
    width: 98px;
    position: absolute;
    z-index: 999999999;
    top: 51px;
    right: 71px;
}
.gallery .img11{
 
    height: 117px;
    width: 112px;
    position: absolute;
    z-index: 999999999;
    top: 252px;
    right: 55px;
}
.gallery .img12{
   
    height: 92px;
    width: 112px;
    position: absolute;
    z-index: 999999999;
    top: 71px;
    right: 180px;
}
.gallery .img13{
   
    height: 117px;
    width: 147px;
    position: absolute;
    z-index: 999999999;
    top: 408px;
    right: 786px;
}
.gallery .img14{
       

    height: 202px;
    height: 197px;
    width: 252px;
    position: absolute;
    z-index: 999999999;
    top: 215px;
    right: 376px;
}
.gallery .img15{
       
    height: 137px;
    width: 102px;
    position: absolute;
    z-index: 999999999;
    top: 203px;
    right: 287px;
    right: 211px;
}
.gallery .img16{
       
    height: 111px;
    width: 150px;
    position: absolute;
    z-index: 999999999;
    top: 450px;
    right: 287px;
    right: 590px;
}
.gallery .img17{
       
    height: 107px;
    width: 95px;
    position: absolute;
    z-index: 999999999;
    top: 38px;
    right: 287px;
    right: 534px;
}
.gallery .img18{
       
    height: 128px;
    width: 76px;
    position: absolute;
    z-index: 999999999;
    top: 71px;
    right: 287px;
    right: 80px;
}
.gallery .img19{
       
    height: 98px;
    width: 132px;
    position: absolute;
    z-index: 999999999;
    top: 114px;
    right: 287px;
    right: 692px;
}
.gallery .img20{
       
    height: 104px;
    width: 132px;
    position: absolute;
    z-index: 99999889999;
    z-index: 9999989999;
    right: 287px;
    right: 331px;
    top: 44px;
}
.gallery .img21{
       
    height: 94px;
    width: 128px;
    position: absolute;
    z-index: 999999999;
    top: 451px;
    right: 287px;
    right: 387px;
}
.gallery .img22{
       
    height: 107px;
    width: 156px;
    position: absolute;
    z-index: 999999999;
    top: 404px;
    right: 287px;
    right: 137px;
}
.gallery .img23{
       
    height: 98px;
    width: 212px;
    position: absolute;
    z-index: 999999999;
    top: 372px;
    top: 282px;
    right: 712px;
}
.gallery .img24{
       
    height: 87px;
    width: 113px;
    position: absolute;
    z-index: 999999999;
   
    top: 423px;
    right: 803px;
}
.gallery .img25{
       
    height: 88px;
    width: 89px;
    position: absolute;
    z-index: 999999999;
    top: 372px;
    top: 267px;
    right: 66px;
}
.gallery .img26{
       
    height: 66px;
    width: 84px;
    position: absolute;
    z-index: 999999999;
    top: 372px;
    top: 84px;
    right: 194px;
}

.gallery .frame{
    overflow: hidden;
    background-image: url("../image/gallery1.png");
    background-size: 100% 100%;
    
}
.gallery  img{
    width: 100%;
   height: 100%;
} **/
.box {
    height: 880px;
    width: 1348px;
    background-image: url(../image/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.alingment{
    width: 500px;
    position: absolute;
    right: 788px;
    top: 73px;
}
.box .item {
    /* border: 1px solid red; */
    border-radius: 5px;
    width: 200px;
    height: 250px;
    position: absolute;
    border-radius: 30px;
    left: 0;
    top: 0;
    overflow: hidden;
    background-image: url("../image/bg.png");
    background-size: 100% 100%;
    background-position: center;
}

.box .item .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 88%;
    width: 88%;
    background-size: 100%;
    overflow: hidden;
    border-radius: 30px;

}

.box .item1{
    left: 455px;
    top: 88px;
    z-index: 10;
    width: 118px;
    height: 185px;
}
.box .item2{
    left: 495px;
    top: 304px;
    z-index: 12;
    width: 302px;
    height: 226px;
}
.box .item2 .img{

    height: 75%;
    width: 70%;
    background-size: inherit;
    background-size: revet;
   
}
.box .item3{
    left: 269px;
    top: 268px;
    z-index: 15;
    width: 206px;
    height: 154px;
}  
.box .item4{
    left: 597px;
    top: 134px;
    z-index: 13;
    width: 200px;
    height: 154px;
    
}  
.box .item4 .img{

    height: 88%;
    width: 88%;
    background-size: inherit;
}
.box .item5{
    left: 808px;
    top: 239px;
    z-index: 13;
    width: 142px;
    height: 200px;
    border-radius: 30px; 
    
} 
.box .item5 .img{
    height: 76%;
    width: 75%;
    background-size: cover;
    
}
.box .item6{
    left: 109px;
    top: 430px;
    z-index: 16;
    width: 360px;
    height: 155px;
    border-radius: 30px;
} 
.box .item6 .img{
    height: 76%;
    width: 75%;
    background-size: inherit;
}
.box .item7{
    left: 831px;
    top: 447px;
    z-index: 13;
    width: 201px;
    height: 189px;
    border-radius: 30px;
    
} 
.box .item8{
    left: 411px;
    top: 593px;
    z-index: 13;
    width: 240px;
    height: 169px;
    border-radius: 30px;
} 
.box .item9{
    left: 660px;
    top: 544px;
    z-index: 13;
    width: 128px;
    height: 148px;
    border-radius: 30px;
} 
.box .item10{
    left: 974px;
    top: 320px;
    z-index: 13;
    width: 112px;
    height: 115px;
    border-radius: 30px;
} 
.box .item10 .img{
    background-size: inherit;
}
.box .item11{
    left: 964px;
    top: 153px;
    z-index: 13;
    width: 123px;
    height: 154px;
    border-radius: 30px;
} 